<template>
  <table v-if="users.length > 0">
      <caption>Таблица пользователей</caption>
      <tr>
        <th>ФИО</th>
        <th>Дата</th>
        <th>Расстояние</th>
        <th>Количество постов</th>
        <th>Удалить пользователя</th>
      </tr>
      <transition-group name="users-list">
        <table-item
          v-for="user in users"
          :user="user"
          :key="user.id"
          @remove="$emit('remove', user)"
          />
        </transition-group>
    </table>
    <h2
      v-else
      style="color: red"
    >
      Таблица с пользователями пуста
    </h2>
</template>

<script>
import TableItem from './TableItem.vue'
export default {
  components: {
    TableItem
  },
  props: {
    users: {
      type: Array,
      required: true
    }
  },
  methods: {
    userOutput (user) {
      console.log(user)
    }
  }
}
</script>

<style>
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  max-width: 70%;
  width: 70%;
  margin-left: 50px;
  border-collapse: collapse;
  text-align: left;
  text-align: center;

}
caption {
   caption-side: bottom;
   text-align: right;
   padding: 10px 0;
   font-size: 14px;
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
.users-list-item {
  display: inline-block;
  margin-right: 10px;
}
.users-list-enter-active,
.users-list-leave-active {
  transition: all 0.4s ease;
}
.users-list-enter-from,
.users-list-leave-to {
  opacity: 0;
  transform: translateX(130px);
}
.users-list-move {
  transition: transform 0.3s ease;
}

td {
  color: #669;
  padding: 9px 8px;
  transition: .3s linear;
}

</style>
