<template>
  <tr>
    <td>{{ user.title }}</td>
    <td>{{ user.myDate }}</td>
    <td>{{ user.distance}} км.</td>
    <td>{{ user.numberOfPost }}</td>
    <td @click="$emit('remove', user)" class="deleteUser">Удалить</td>
  </tr>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  methods: {}
}
</script>

<style>
tr:hover td {
  color: #6699ff;
}
.deleteUser {
  font-weight: 800;
}
.deleteUser:hover {
  color: red;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
</style>
