<template>
  <form @submit.prevent>
      <h3>Добавить пользователя</h3>
      <my-input
        v-model="user.title"
        type="text"
        placeholder="ФИО"/>
      <my-input
        v-model="user.myDate"
        type="date"
        placeholder="ггг-мм-дд"/>
      <my-input
        v-model="user.distance"
        type="number"
        placeholder="км."/>
        <my-input
        v-model="user.numberOfPost"
        type="number"
        placeholder="Введите количество постов"/>

      <my-button
        @click="createUser"
      >
        Создать пользователя
      </my-button>
    </form>
</template>

<script>
import MyButton from '@/components/UI/MyButton.vue'
export default {
  components: {
    MyButton
  },
  data () {
    return {
      user: {
        title: '',
        myDate: '',
        distance: '',
        numberOfPost: ''
      }
    }
  },
  methods: {
    createUser () {
      this.user.id = Date.now()
      this.$emit('create', this.user)
      this.user = {
        title: '',
        myDate: '',
        distance: '',
        numberOfPost: ''
      }
    }
  }
}</script>

<style>
form {
  display: flex;
  flex-direction: column;
}

</style>
