<template>
  <div class="app-wrapper">
    <div class="app-content">
      <div class="content">
        <h1>Таблица пользователей</h1>
        <div class="content__btns">
          <my-button
            @click="showModal">Добавить пользователя
          </my-button>
        </div>
        <my-modal v-model:show="modalVisible">
          <user-form
            @create="createUser"
          />
        </my-modal>
        <div class="app__table">
          <div class="sidebar">
            <h4>Выберите колонку:</h4>
            <my-select
              v-model="tableColumn"
              :options="tableSelection"
            />
            <h4>Выберите условие сортировки:</h4>
            <my-select
              v-model="sortingCondition"
              :options="conditionSelection"
            />
            <h4>Введите значение</h4>
            <my-input
              v-model="searchValue"
              placeholder="Введите значение для поиска совпадений"
              />
          </div>
          <table-list
            :users="paginatedData"
            @remove="removeUser"
          />
        </div>
        <div>
            <my-button :disabled="page === 0"
                  @click="prevPage">Назад</my-button>
            <my-button :disabled="pageNumber >= page -1"
                  @click="nextPage">Вперед</my-button>
          </div>
      </div>
    </div>

  </div>
</template>

<script>
import UserForm from '@/components/UserForm.vue'
import TableList from '@/components/TableList.vue'
export default {
  components: {
    UserForm,
    TableList
  },
  data () {
    return {
      users: [
        { id: 1, title: 'Иванов И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 2, title: 'Садовников И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 3, title: 'Ляпин И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 19 },
        { id: 4, title: 'Лялин И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 5, title: 'Грущев И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 6, title: 'Вертиканов И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 7, title: 'Варламов И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 8, title: 'Иващенков И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 9, title: 'Ирюпинов И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 10, title: 'Хрущев И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 11, title: 'Ельцин И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 12, title: 'Булгаков И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 13, title: 'Есенин И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 14, title: 'Пушкин И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 15, title: 'Лермантов И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 },
        { id: 16, title: 'Священов И.И.', numberOfPost: Math.floor(Math.random() * (10 - 1 + 1)) + 1, myDate: new Date().toISOString().slice(0, 10), distance: Math.floor(Math.random() * (100 - 1 + 1)) + 1 }
      ],
      modalVisible: false,
      tableColumn: '',
      sortingCondition: '',
      searchValue: '',
      page: 0,
      limitPage: 10,
      types: {
        title: {
          equal: (a, b) => a.toLowerCase() === b,
          contains: (a, b) => a.toLowerCase().includes(b),
          greater: (a, b) => a.toLowerCase() > b,
          less: (a, b) => a.toLowerCase() < b
        },
        numberOfPost: {
          equal: (a, b) => a === +b,
          contains: (a, b) => `${a}`.includes(b),
          greater: (a, b) => a > +b,
          less: (a, b) => a < +b
        },
        distance: {
          equal: (a, b) => a === +b,
          contains: (a, b) => `${a}`.includes(b),
          greater: (a, b) => a > +b,
          less: (a, b) => a < +b
        }
      },
      tableSelection: [
        { value: 'title', name: 'По ФИО' },
        { value: 'numberOfPost', name: 'По количеству постов' },
        { value: 'distance', name: 'По расстоянию' }
      ],
      conditionSelection: [
        { value: 'equal', name: 'Равно' },
        { value: 'contains', name: 'Содержит' },
        { value: 'more', name: 'Больше' },
        { value: 'less', name: 'Меньше' }
      ]
    }
  },
  methods: {
    createUser (user) {
      this.users.push(user)
    },
    removeUser (event) {
      this.users = this.users.filter(u => u.id !== event.id)
    },
    showModal () {
      this.modalVisible = !this.modalVisible
    },
    consoleLog (event) {
      console.log(event)
    },
    nextPage () {
      this.page++
    },
    prevPage () {
      this.page--
    }
  },
  mounted () {},
  computed: {
    filteredUsers () {
      const returnFn = this.types[this.tableColumn]?.[this.sortingCondition]
      return returnFn && this.searchValue.toLowerCase() ? [...this.users].filter(user => returnFn(user[this.tableColumn], this.searchValue.toLowerCase())) : [...this.users]
    },
    pageCount () {
      const l = this.users.length
      const s = this.limitPage
      return Math.ceil(l, s)
    },
    paginatedData () {
      const start = this.page * this.limitPage
      const end = start + this.limitPage
      return this.filteredUsers.slice(start, end)
    }
  },
  watch: {}

}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-wrapper {
  padding: 20px;
}

.app-content {
  display: block;
}

.content {
  width: 100%;
  font-size: 18px;

}

.app__table {
  display: flex;
  justify-content: row;
  margin-top: 50px ;
}

.sidebar > h4 {
  margin: 0 0 0 15px;
}

.content__btns {

  display: flex;
  justify-content: space-between;
}
</style>
