<template>
  <button class="btn">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'my-button'
}
</script>

<style scoped>
.btn {
  margin: 10px 15px;
  padding: 15px;
  background: none;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: teal;
  align-self: flex-end;
  border: 1px solid teal;
  transition: .8s
}

</style>
