<template>
  <input :value="modelValue" @input="updateInput" class="input">
</template>

<script>
export default {
  name: 'my-input',
  props: {
    modelValue: [String, Number]
  },
  methods: {
    updateInput (event) {
      this.$emit('update:modelValue', event.target.value)
    }
  }
}
</script>

<style scoped>
.input {
  width: auto;
  border-radius: 10px;
  border: 1px solid #6678b1;
  margin: 10px 15px;
  padding: 10px 20px;
}
</style>
