<template>
  <div class="modal" v-if="show" @click.stop="hideModal">
    <div @click.stop class="modal-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'my-modal',
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    hideModal () {
      this.$emit('update:show', false)
    }
  }
}
</script>

<style scoped>
.modal {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.modal-content {
  margin: auto ;
  padding: 15px;
  border-radius: 12px;
  background: white;
  min-width: 40vh;
}
</style>
